.section-edit {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 20%;
    background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
        ),
        url("../../img/pattern.jpg");
}

.heading {
    margin-top: 25rem;
}

.heading-primary {
    color: #ff6f00;
    font-family: inherit;
    font-size: 2rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.desc {
    color: #fff;
    font-size: 0.8rem;
    width: 80%;
}

.main {
    width: 80%;
    display: flex;
    justify-content: center;
}

.form-edit {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-body {
    display: flex;
    width: 100%;
    justify-content: center;
}

.left {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right {
    width: 80%;
}

.form-group {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.label {
    font-size: 1rem;
    color: #ff6f00;
    margin-bottom: 0.5rem;
}

.form-input {
    font-family: inherit;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 2px solid #ff6f00;
    color: #707070;
    font-size: 0.9rem;
}

.btn-submit {
    width: 63%;
    align-self: flex-start;
    margin-left: 9.5rem;
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    border-radius: 0.2rem;
    background-color: #ff6f00;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;

    transition: all 0.3s;
}

.btn-submit:hover {
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid #ff6f00;
    color: #ff6f00;
}
